
.admin-list-group h6 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100px;
}

.admin-img {
    width: 100px;
    height: 100px;
}

.admin-table-header th{
    font-size: large;
    background-color: #202F55 !important;
    color: #ffffff !important;
}

.bg-samurai {
    background-color:#202F55;
    color: #ffffff;
}

.admin-btn {
    font-size: large !important;
    background-color: #202F55 !important;
    color: #ffffff !important;
}
