
/* admin sidebar */
.admin-list-group h6 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 50%;
}

.admin-img {
    width: 100px;
    height: 100px;
}

.admin-table-header th{
    font-size: large;
    background-color: #202F55 !important;
    color: #ffffff !important;
}

.bg-samurai {
    background-color:#202F55 !important;
    color: #ffffff !important;
}

.admin-btn {
    font-size: large !important;
    background-color: #202F55 !important;
    color: #ffffff !important;
}

/* navbar */
.admin-navbar {
    background-color: #ffffff !important;
    box-shadow: 0 1px 4px #202F55;
}

.user-navbar {
    background-color: #ffffff !important;
    box-shadow: 0 1px 4px #BC002D;
}

.navbar {
    top: 0%;
    width: 100%;
    position: fixed;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbar h1 {
    margin-bottom: 0;
}

.nav-item {
    font-size: 2em;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    background-color: #202F55;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 15px;
    height: 50px;
}

.snslinks {
    display: flex;
    gap: 10px;
}


/* delete user modal */
.cancel-border {
    color: #202F55;
}

.icon-delete-user {
    font-size: 3rem;
    color: #202F55;
}

.admin-modal-text {
    font-size: 0.8rem;
}

.delete-border {
    border-color: #202F55;
}