
.list-group h6 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100px;
}

.img {
    width: 100px;
    height: 100px;
}

.admin-table-header {
    font-size: large;
    background-color: #202F55 !important;
    color: #ffffff !important;
}

