.components-post {
    width: 350px;
    height: 325px;
    position: relative;
}

.star-icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}