.navbar {
    top: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar h1 {
    margin-bottom: 0;
}

.nav-item {
    font-size: 1.5rem;
}

.nav-item-text {
    font-size: 1.0rem;
    display: none;
}

/* Color */
.admin-navbar {
    background-color: #ffffff !important;
    box-shadow: 0 1px 4px #202F55;
}

.user-navbar {
    background-color: #ffffff !important;
    box-shadow: 0 1px 4px #BC002D;
}


/* Media Query */

/* Less than sm (576px) */
@media (max-width: 576px) {
    .brand-name {
        font-size: 1.5rem;
    }
}

/* Less than lg (992px) */
@media (max-width: 992px) {
    .nav-item-text {
        display: block;
    }
}
