.components-post {
    width: 350px;
    height: 325px;
    position: relative;
}
.card-img-top {
    width: 350px;
    height: 200px;
}

.star-icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
    top: 10px;
    right: 10px;
}