.contact-redcat {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: auto;
    height: 75vh;
    pointer-events: none;
}

.contact-text {
    color: #FFFFFF;
    font-size: larger;
    /* background-color: #202F55; */
    background-color: rgba(32, 47, 85, 0.8);
    border-radius: 15px;
    padding: 10px;
}