.contact-redcat {
    height: 50%;
    width: 50%;
    position: relative;
    top: 3%;
}

@media (max-width: 992px) { 
    .contact-redcat {
        width: 80%;
        height: auto;
        top: 0;      
    }
}

@media (max-width: 768px) {
    .contact-redcat {
        height: auto;
        width: 100%;
        top: 0;
    }
}
