/* General Style */
.bg-kurenai {
    background-color:#BC002D;
}

.bg-samurai {
    background-color:#202F55;
}

.heading-kurenai {
    border-bottom: 3px solid #BC002D;
}

.heading-samurai {
    border-bottom: 3px solid #202F55;
}

.footer-user-container {
    background-color: #BC002D;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 50px;
}

h5 {
    font-size: 20px;
}

/* Button */
/* Button-kurenai 
…Color changes when cursor is placed on it.*/
.btn-kurenai {
    color: #FFFFFF;;
    border: 2px solid #BC002D;
    background-color: #BC002D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-kurenai:hover {
    color: #FFFFFF;
    background-color: #E50137;
}
/* Button-white
…Color changes when cursor is placed on it.*/
.btn-white {
    color: #BC002D;;
    border: 2px solid #BC002D;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-white:hover {
    font-weight: 700;
    color: #E50137;
    border: 4px solid #E50137;
    background-color: #FFFFFF;
}
