/* ============= */
/* General Style */
/* ============= */
.bg-kurenai {
    background-color:#BC002D;
}

.bg-samurai {
    background-color:#202F55;
}

/* Heading */
/* Sample */
/* <h2 class="mb-3"><span class="px-2 heading-kurenai">New Post</span></h2> */
.heading-kurenai {
    border-bottom: 3px solid #BC002D;
}

.heading-samurai {
    border-bottom: 3px solid #202F55;
}

.footer-user-container {
    background-color: #BC002D;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 50px;
}

h5 {
    font-size: 20px;
}
