/* ============= */
/* General Style */
/* ============= */
.bg-kurenai {
    background-color: #BC002D;
}

.bg-samurai {
    background-color: #202F55;
}

/* Heading */
/* Sample */
/* <h2 class="mb-3"><span class="px-2 heading-kurenai">New Post</span></h2> */
.heading-kurenai {
    border-bottom: 3px solid #BC002D;
}

.heading-samurai {
    border-bottom: 3px solid #202F55;
}

/* Button */
/* Button-kurenai
…Color changes when cursor is placed on it.*/
.btn-kurenai {
    color: #FFFFFF;
    ;
    border: 2px solid #BC002D;
    background-color: #BC002D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-kurenai:hover {
    color: #FFFFFF;
    background-color: #E50137;
}

/* Button-white
…Color changes when cursor is placed on it.*/
.btn-white {
    color: #BC002D;
    ;
    border: 2px solid #BC002D;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-white:hover {
    font-weight: 700;
    color: #E50137;
    border: 4px solid #E50137;
    background-color: #FFFFFF;
}

.biz-udpgothic-regular {
    font-family: "BIZ UDPGothic", sans-serif;
    /* font-family:serif; */
    font-weight: 400;
    font-style: normal;
}

/* Heading */
h1 {
    font-family: "BIZ UDPGothic";
    font-size: 40px;
}

h2 {
    font-family: "BIZ UDPGothic";
    font-size: 32px;
}

h3 {
    font-family: "BIZ UDPGothic";
    font-size: 28px;
}

h4 {
    font-family: "BIZ UDPGothic";
    font-size: 24px;
}

h5 {
    font-family: "BIZ UDPGothic";
    font-size: 20px;
}

h6 {
    font-family: "BIZ UDPGothic";
    font-size: 16px;
}

p {
    font-family: "BIZ UDPGothic";
    font-size: 16px;
}

.fa-star-post {
    font-size: 1.5em;
}

.fa-pen-post {
    font-size: 1.5em;
}

.fa-heart-post {
    font-size: 1.8em;
}

.xsmall {
    font-size: 0.65rem;
}
