.event-near-you.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 1.0);
}

.posts-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 360px;
}

.posts-container .post-container {
    flex-shrink: 0;
    width: 350px;
    height: 100%;
}
