.custom-logo {
    width: 150px;
    height: auto;
    opacity: 0.3;
    
}
.custom-logo-container {
    position: relative;
    display: inline-block;
}
.overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: bold;
}
.icon-position {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.logo-organizer {
    width: 150px;
    height: auto;
    opacity: 0.3;
    color: #202F55;
}
.user-color {
    color: #BC002D;   
}
/* .custom-icon-container img {
    filter: invert(21%) sepia(84%) saturate(7471%) hue-rotate(345deg) brightness(94%) contrast(104%);
} */
.custom-icon-container img {
    filter: invert(30%) sepia(200%) saturate(7471%) hue-rotate(399deg) brightness(96%) contrast(104%);
}