.event-near-you.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.posts-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 360px;
}

.posts-container .post-container {
    flex-shrink: 0;
    width: 350px;
    height: 100%;
}
