h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "BIZ UDPGothic";
}

/* Image-Abatar */
.img-pf-show {
    width: 100px;
    height: 100px;
}
.img-pf-edit {
    width: 100px;
    height: 100px;
}


/* delete account modal */
.icon-delete-account {
    font-size: 3rem;
    color: #bc002d;
}

.cancel-account-border {
    color: #bc002d;
}

.account-modal-text {
    font-size: 0.7rem;
    color: #bc002d;
}

.account-btn {
    background-color: #bc002d;
    color: #ffffff;
}

.account-modal-title {
    color: #bc002d;
    font-size: large;
}

.account-boder {
    border-color: #bc002d;
}