/*Abatar */
.abatar-pf-show {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.abatar-pf-edit {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* ---------- */

/* Button */
/* Button-kurenai
…Color changes when cursor is placed on it.*/
.btn-kurenai-pf {
    color: #FFFFFF;
    border: 2px solid #BC002D;
    background-color: #BC002D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
}

.btn-kurenai-pf:hover {
    color: #FFFFFF;
    background-color: #E50137;
}

/* Button-white
…Color changes when cursor is placed on it.*/
.btn-white-pf {
    color: #BC002D;
    border: 2px solid #BC002D;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
}

.btn-white-pf:hover {
    font-weight: 700;
    color: #E50137;
    border: 4px solid #E50137;
    background-color: #FFFFFF;
}

/* ---------- */

/* Introduction */
.contenedor-pf {
    position: relative;
}

.expand-pf {
    max-height: 145px;
    overflow: auto;
    position: relative;
    border-bottom: 1px solid #aaa;
    transition: .5s;
}

.expand-pf::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
}

.contenedor-pf input {
    visibility: hidden;
}

.contenedor-pf label {
    position: absolute;
    bottom: -.0em;
    display: block;
    font-size: .9em;
    padding: .20em 10px;
    right: 0;
    background: #aaa;
    box-shadow: -5px 0 white;
    color: white;
    z-index: 999;
    cursor: pointer;
    text-transform: uppercase;
}

.contenedor-pf label:before {
    content: "Continuation";
}

.contenedor-pf input:checked+label:before {
    content: "Close"
}

/* When the Continuation button is pressed */
input[type=checkbox]:checked~.expand-pf {
    max-height: 100%;
}

input[type=checkbox]:checked~.expand-pf:before {
    opacity: 0
}

/* ---------- */
/* Edit form */
.form-siz-pf {
    width: 300px;
    height: 50px;
}

/* ---------- */

/* delete account modal */
.icon-delete-account {
    font-size: 3rem;
    color: #bc002d;
}

.cancel-account-border {
    color: #bc002d;
}

.account-modal-text {
    font-size: 0.7rem;
    color: #bc002d;
}

.account-btn {
    background-color: #bc002d;
    color: #ffffff;
}

.account-modal-title {
    color: #bc002d;
    font-size: large;
}

.account-boder {
    border-color: #bc002d;
}
