/* show.blade.php */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "BIZ UDPGothic";
}

.profiles-hr {
    background-color: #BC002D;
    height: 4px;
    width: 167px;
    margin: auto;
}

.profiles-gallery {
    margin-top: 2px;
    overflow: auto;
}

.profiles-items {
    width: 10%;
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;z
}
.profiles-img {
    width: 100px;
    height: 100px;
}

